# Configuration created by Apache Sling JCR Installer
oauth.client.id="800016463473935"
oauth.config.id="0654f74c177ec80b60f7922a9a6195cf"
oauth.config.provider.id="soco-facebook"
oauth.access.token.persist=B"true"
oauth.encode.userids="false"
oauth.create.users="true"
oauth.scope="email"
oauth.client.secret="dfa9f5e1371bf69a9eea7bbd7a42f4aa"
