<div class="container we-Container--top-navbar bg-success ">

    <div class="collapse navbar-collapse width" id="we-example-navbar-collapse-inverse">
        <ul class="nav navbar-nav navbar-center">
            <li class="visible-xs"><a href="#">AEM.<strong class="text-primary">Training---></strong></a></li>

            <!-- /* Basic mock up code */ -->
            <li class="nav navbar-nav navbar-left" data-sly-repeat="${currentPage.listChildren}">
                <a href="${item.path}.html">${item.title}</a>
            </li>

            <li class="visible-xs divider" role="separator"></li>
        </ul>
    </div>
    <span style="height: 0px;" class="navbar-shutter"></span>
    </nav>



</div>